html{
    background:rgb(146, 203, 222);
}
h1{
    color:white;
    font-style: oblique;
    font-weight: 700;
}
h2{
    color:rgb(45, 45, 142);
    font-style: oblique;
}
body {
    text-align: center;
  }
.full-width{
    width: 100%;
    height: auto;
  }
#logo {
  display:inline-block;
  margin: 10px; /* margin: 20px was off */
  float:left;
  height: 100px;
  width: auto; /* correct proportions to specified height */
  border-radius: 50%; /* makes it a circle */

}