html{
    background:#dddfde;
}
h1{
    background-color:#365a72;
    font-style: oblique;
    font-weight: 700;
    padding: 5px; 
    color: white; 
}
h2{
    background-color:#8D6E63;
    color: white;
    font-style: oblique;
    padding: 10px;
}
body {
    text-align: center;
  }
.full-width{
    width: 100%;
    height: 100%;
  }
#logo{
  display:inline-block;
  height: 200px;
  width: auto; /* correct proportions to specified height */
  /*border-radius: 50%; /* makes it a circle */
  padding: 5px;
  background-color: white;
}
#img{
  display: inline-block;
  padding:15px; 
  margin:10px; 
  border-radius: 15%;
  background-color: #6991aa;
}
.intro{
  color: white; 
  font-weight: 200px;
}
.compile{
  padding: 15px; 
  margin: 10px;
  background-color: #8D6E63  ;
}
.film_strip{
  align-items: center;
  margin: 0; 
  padding: 0; 
}
